<div class="col-6 pt-3  d-flex flex-column align-items-center">
  <a class="navbar-brand my-3" href="#">
    <img src="https://getbootstrap.com/docs/4.1/assets/img/bootstrap-stack.png" width="80" height="80" alt="">
  </a>
  <div class="my-3 text-center col-6">
    <%= form_with url: login_path, local:true do |f| %>
      <div class="form-group">
        <%= f.text_field 'username', placeholder: "username", class: 'form-control bg-light text-white rounded-pill text-center' %> 
        <%= f.password_field 'password', placeholder: "password", class: 'form-control bg-light text-white rounded-pill text-center' %> 
      </div>
        <%= f.submit 'Log In!', class: 'btn btn-primary rounded-pill w-100'%> 
    <% end %>
  </div>
</div>