  <div class="badge_pic text-center col-1 p-0 text-center">
    <%= link_to image_tag(user.photo.attached? ? 
        user.photo : 'https://thesocietypages.org/socimages/files/2009/05/nopic_192.gif'), user %>
  </div>