<div class "d-flex">
  <%= link_to 'Following', 
               follow_path(id: u.id), 
               id: 'unfollow-btn',
               remote: true,
               class: ("btn btn-outline-secondary rounded-pill js-following" + 
               unless current_user.follows?(u) then " hide" else "" end)  %>

  <%= link_to 'Follow', 
               follow_path(id: u.id),
               id: 'follow-btn',
               remote: true, 
               class: ("btn btn-outline-primary rounded-pill js-follow" + 
               if current_user.follows?(u) then " hide" else "" end)  %>
</div>
