<% flash.each do |name, msg| %>
    <div class="alert <%= bs_class_for(name) %> fade_in text-light mx-auto">
    <button class="close" data-dismiss="alert text-light">x</button>
    <b><%= msg %></b>
  </div>
<% end %>
