<% provide(:sect_header, "> Home") %>
<div>

</div>

<div>
  <%= form_with model: Post.new, url: posts_path, local:true do |f| %>
    <div class="form-group">
      <%= f.text_area :content, placeholder: "Holler something!!", class: 'form-control bg-light text-white rounded-pill' %>
    </div>
    <%= f.submit 'Holler!', class: 'btn btn-primary rounded-pill'%>
  <% end %>
</div>
