<header role = 'banner' class = "col-3">
<nav class="navbar col-7 mx-auto px-2 py-3">
<% if logged_in? %>
  <a class="navbar-brand p-1" href="#">
    <img src="https://getbootstrap.com/docs/4.1/assets/img/bootstrap-stack.png" width="50" height="50" alt="">
  </a>
</nav>

  <nav class="nav nav-pills flex-column col-7 mx-auto px-0">
    <a class="nav-item nav-link rounded-pill" href="#">
      <i class="fa fa-home"></i> Home
    </a>
    <a class="nav-item nav-link rounded-pill" href="#">
      <i class="fa fa-at"></i> Connect
    </a>
    <a class="nav-item nav-link rounded-pill" href="#">
      <i class="fa fa-hashtag"></i> Discover
    </a>
    <a class="nav-item nav-link rounded-pill" href="#">
      <i class="fa fa-user"></i> Profile
    </a>
    <a class="nav-item nav-link rounded-pill" href="#">
      <i class="fa fa-bar-chart"></i> Stats
    </a>
  </nav>
<% end  %>
</header>
