<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  <body>
    <div class= "d-flex">
        <%= render 'layouts/header' %>
        <%= yield %>
    </div>
    <%= render 'layouts/js_for_bootstrap' %>
  </body>
</html>
